<!doctype html>
<html lang="en">

<head>


	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>AskAway - Decline Interview</title>
	<meta name="description" content="A BETTER INTERVIEW" />
	<link rel="shortcut icon" href="/public/assets/img/Favicon.png" type="image/x-icon">
	<link rel="stylesheet" href="/public/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/admin/css/style.css">
</head>

<body style="background-image: url('/public/assets/img/Bottom-design.png');background-repeat: no-repeat;background-position: center;background-size: cover;">
	<section class="limiter">

		<div class="container-login100" >
			<header class="fixed-top header-fixed header-size">
				<div class="logo" style="text-align: left; margin: 10px 0 0 0; padding-left: 8rem">
					<a class="home-link" href="/">
						<img src="/public/assets/img/askaway-logo.png" alt="Askaway" style="height: 45px;">
					</a>
				</div>
			</header>
			<div class="p-t-30 p-b-50">
				<div class="container" style="padding-top: 10%;">
					<div class="col-md-7 col-sm-12">
						<div class="interview-goodbye__text">
							<h1>Thank for your response</h1>
							<p style="margin-top: 2em;">
								The hiring manager will be notified
									you have declined the interview.</p>
							<br />
								<button type="button" class="btn btn-primary" id="btnHomePage"
									onclick="window.location.href = '/'">Go to home
									page</button>
						</div>
					</div>
				</div>
				
			</div>
		</div>

		<div id="footer" style="position: fixed;"></div>
	</section>
</body>

</html>