<!doctype html>
<html lang="en">


<head>

</head>

<body>
    <header class="fixed-top header-fixed header-size">
        <div class="logo" style="text-align: left; margin: 10px 0 0 0; padding-left: 8rem">
            <a class="home-link" href="/">
                <img src="/public/assets/img/askaway-logo.png" alt="AskAway" style="height: 45px;">
            </a>
        </div>
    </header>
    <div>
        <div class="interview-goodbye row">
            <div class="col-md-6">
                <div class="interview-goodbye__text">
                    <h1>You're all done</h1>
                    <p style="margin-top: 2em;">Congratulations on finishing your practice interview.
                        Now that you've taken the practice interview, you know what to expect when taking the real
                        interview.
                        If this had been a real interview, your answers would have been uploaded for the hiring manager
                        to
                        review.</p>
                    <br />
                    <p>
                        Ready for the real interview?
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="interview-goodbye__img" id="content">
                    <div>
                        <img src="/public/assets/img/jobTitle.png" alt="CONGRATULATIONS!!!!!!" class="img-div">
                    </div>
                </div>
            </div>
            <div class="col-md-6 offset-md-6 mt-4 text-center">
                <button id='btn' class="btn btn-pink" onclick="gotointerview()"> Go to Interview </button>
            </div>
        </div>
        <div>

        </div>
    </div>
</body>
<script>
    $(document).ready(function () {
        var pathname = location.href;
        var token = pathname.split('start/')[1];
        const tokenval = token.split('/')[0];
        const checktest = token.split('/')[1];
        if (checktest === '0000000000') {
            $("#btn").show();
        } else {
            $("#btn").hide();
        }
    });
    function gotointerview() {
        var token = location.href.split('start/')[1];
        const tokenval = token.split('/')[0];
        window.location.href = `../../start/${tokenval}`
    }
</script>

</html>