@font-face{
	font-family:"Helvetica";
	src:url('../fonts/Helvetica.ttf');
	font-weight:400;
}

@font-face{
	font-family:"Helvetica";
	src:url('../fonts/helvetica-light.ttf');
	font-weight:300;
}

@font-face{
	font-family:"Helvetica";
	src:url('../fonts/Helvetica-Bold.ttf');
	font-weight:700;
}

@font-face{
	font-family:"DIN";
	src:url('../fonts/DIN-Bold.woff');
	font-weight:700;
}


body{
	font-family: "Helvetica";
	color: #000;
	font-size: 10pt;
	line-height: 15pt;
}

h1,h2,h3,h4,h5,h6{
	font-family:inherit;
	font-weight: 700;
	text-shadow:0 0 3px rgba(0,0,0,0.1);
}

h3{
	font-family:"DIN";
	font-size: 16pt;
	line-height: 16pt;
	
	}

:focus{
	outline: none;
}

a:hover{
	text-decoration: none;
}

.bg-aqua{
	background-color: #63c1c5;
}

.bg-aqua-100{
	background-color: #eef5f6;
}

.bg-teal{
	background-color: #cedadc;
}

.bg-yellow{
	background-color: #f6c34c;
}

.bg-pink{
	background-color: #df5063;
}

.bg-blue{
	background-color: #515594;
}

.container{
	width: 90%!important;
	max-width: 1200px!important;
	/* for change margin of border  */

}

.btn{
	border-radius: 8px;
	min-width: 130px;
	padding-top: 4px;
    padding-bottom: 3px;
	letter-spacing: 1px;
	line-height: normal;
	line-height: 1;
}

.btn:focus{
	box-shadow: none;
}

.btn span{
	display: flex;
	align-items: center;
	font-size: 11px;
	font-style: italic;
	letter-spacing: 0;
	margin-bottom: 3px;
}

.btn span:before, .btn span:after{
	height: 2px;
	background: #fff;
	flex-grow: 1;
	margin: 0 5px;
	content: "";
	display: block;
	min-width: 8px;
}

.btn-pink{
	background-color: #df5063;
	color: #fff;
}

.btn-pink:hover{
	background-color: #e4287c;
	color: #fff;
}

.header .container{
	padding-top: 10px;
	padding-bottom: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header .container a{
	color: #141618;
	font-weight: 700;
	display: inline-block;
	vertical-align: middle;
	text-transform: uppercase;
}

.header .container a:hover{
	color: #000;
	text-decoration: underline;
}

.account-links a + a:before{
	content: "";
    width: 10px;
    height: 2px;
    background: #141618;
    display: inline-block;
    margin: 0 4px 0 0px;
    vertical-align: middle;
}

.navigation a + a:before{
	content: "/";
    display: inline-block;
    margin: 0 5px 0 1px;
    vertical-align: middle;
	margin-top: -2px;
}

.section-gap{
	padding-top: 30px;
	padding-bottom: 30px;
}

.logo a img{
	height: 60px;
}

.richtext h1, .section-time-back h2, .section-make-it-easy h2, .section-membership h2{
	color: #63c1c5;
	font-size: 39pt;
	line-height: 40pt;
	letter-spacing: 2px;
	text-transform: uppercase;
	margin-bottom: 20px;
	font-weight: 500;
}

.richtext strong, .section-membership h2 + p{
	font-size: 16pt;
	line-height: 24pt;
	font-weight: 700;
	text-transform: capitalize

}

.richtext strong{
	text-transform: capitalize;
}

.richtext p{
	font-size: 13pt;
	line-height: 18pt;
	/* for change space between lines  */
}

.hero-media p{
	font-size: 13pt;
	line-height: 18pt;
}

.title-font{
	font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.divider{
	width: 100%;
	max-width: 240px;
	height: 3pt;
	margin: 20px 0;
}

.section-time-back h2, .section-make-it-easy h2, .section-membership h2{
	color: #fff;
}

.section-make-it-easy h2{
	color: #63c1c5;
}

.section-cards .container{
	max-width: 1000px!important;
	padding-top: 70px;
	padding-bottom: 70px;
}

.tile{
	background-color: #eef5f6;
	padding-top:20px;
	padding-bottom: 20px;
}

.tile:nth-child(even){
	background-color: #cedadc;
}

.tile img{
	height: 100px;
	margin-bottom: 20px;
}

.tile h3{
	margin-bottom: 0;
	text-shadow: none;
	min-height: 50px;
	text-transform: capitalize;
}

.tile span{
	display: block;
	width: 50px;
	height: 2pt;
	background: #63c1c5;
	margin: 10px auto;
}

.section-membership{
	padding: 10px 0;
	text-align: center;
}

.section-membership .row{
	margin-top: 50px;
	margin-bottom: 80px;
}

.package-divider{
	height: 3pt;
	width: 200px;
	background: #fff;
	margin: 40px auto 0;
}

.membership-tile{
	background-color: #eef5f6;
	padding-bottom: 10px;
}

.membership-tile:nth-child(even){
	background-color: #cedadc;
}

.membership-title{
	margin-left: -15px;
	margin-right: -15px;
	padding: 10px 15px;
	font-size: 14pt;
	line-height: 15pt;
	text-transform: uppercase;
	font-weight: 600;
	text-shadow: none;
	margin-bottom: 0;
}
/* new style for font */
.membership-tile-body p{
	font-size: 12pt;
}

.membership-tile-body small{
	font-size: 10pt;
}
.membership-tile-body{
	padding: 40px 0;
}

.membership-tile-body h3{
	font-size: 20pt;
	font-weight: 600;
	text-shadow: none;
	text-transform: capitalize

}

.membership-tile-body p{
	margin-bottom: 0;
}

.membership-tile-body strong{
	font-size: 14pt;
    line-height: 15pt;
	font-weight: 700;
	text-transform: uppercase;
}

.membership-tile-body small{
	display: block;
	height: 20PX;
	font-style: italic;
}

.price-divider{
	width: 50px;
	height: 2pt;
	display: block;
	margin: 15px auto;
}

.membership-tile-footer{
	margin-left: -15px;
	margin-right: -15px;
	padding: 5px 15px;
	text-transform: uppercase;
	background: #beccd2;
	color: #fff;
	font-size: 14pt;
    line-height: 15pt;
	font-weight: 700;
}

.footer-logo{
	height: 45px;
	margin-bottom: 5px;
}

.footer p{
	font-size: 14px;
	font-weight: 600;
	margin-bottom: 0;
}


@media(max-width:991px){
	.logo a img{
		height: 50px;
	}
	.section-time-back h2, .richtext h1, .section-make-it-easy h2, .section-membership h2{
		font-size: 1.6rem;
	}
	.richtext strong, .section-membership h2 + p{
		font-size: 14px;
	}
	.section-membership{
		padding: 40px 0;
	}
	.section-membership .row{
		margin-bottom: 40px;
	}
	.footer-logo{
		height: 50px;
	}
}

@media(max-width:575px){
	.header .container{
		flex-direction: column;
		padding-top: 8px;
		padding-bottom: 8px;
	}
	.account-links{
		margin-bottom: 5px;
	}
	.logo a img{
		height: 40px;
	}
	.section-cards .container{
		padding-top: 20px;
    	padding-bottom: 20px;
	}
	.footer-logo{
		height: 40px;
	}

}

/* for contactUs Page  */
.removeMargin{
	margin-top: 15px !important;
	margin-bottom: 15px !important;
}
.mgl-18{
	margin-left: 17%;
}
@media(max-width:991px){
	.mgl-18{
		margin-left: -15px;
	}
}
.textjustify {
	text-align-last: justify;
	padding-left: 6%;
}

.textCaseNone{
	text-transform: none !important;
}
form {
	margin-top: 10%;	
}


.form-group b{
	font-size: 16pt;
	line-height: 24pt;
	font-weight: 700;
}


.removeMargin{
	margin-top: 15px !important;
	margin-bottom: 15px !important;
}